@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

:root{

    --primary1-light:#F5F5D8;
    --primary1:#FFEC3F;
    --primary1-dark: #CA8207;
    --primary2-dark1:#092140;
    --primary2-dark2: #12489F;
    --primary2-dark3:#1671C0;
    --primary2-dark4:#40B3FA;
}
.App {
  text-align: center;
  width: 100%;
}

#root{
  width:100%;
}
.App-link {
  color: #61dafb;
}

/*NAV BAR*/
.nav{
  height: 50px;
  padding: 10px;
  display: flex;
  width:100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0.000015px 3px 2px rgba(0, 0, 0, 0.234);
  z-index: 100;
  background-color: var(--primary1);
}

.okform{
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.nav-sns{
  margin-right: 30px;
}

.wepo-logo{
  width: 100px;
  margin-left: 50px;
}

.nav a{
  text-decoration: none;
  color: black;
  opacity:1;
  transition: 0.2s ease-in;
  padding: 10px;
}
.nav a:hover, .fa-brands:hover{
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in;
  opacity:1;
  border-radius: 500px;
}


.inputField{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#demo-radio-buttons-group-label{
  margin:0px;
  padding:0px;
}
.radioN{
  margin-top: 20px;
}

.MuiFormGroup-root{
  margin:0px;
  padding:0px;
  font-size: 12px;

}
.form{
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 80%;
}

.form h2{
  font-family: 'Fredoka';
  font-weight: 250;
}
/*HERO ================================================*/
.hero-container{
  position: relative;
  width: 100%;
  height: 50vh;
  padding: 150px 0px 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./assets/1.png');
  background-repeat: no-repeat;
  background-size: auto;
  z-index: -1;


}

/*HERO TAGGGGGGGGGGGGGGGGGGG*=================================*/
.tagline{
}
.tagline h1{
  font-size: 3rem;
}
.tag-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}
.tag-list li{
  font-size: 30px;
  margin: 0px 20px 0px 20px;
}

#test{
  width: 380px;
  margin: 30px;
  height: auto;
}
.warning{
  visibility: hidden;
}

.tagline{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width:85%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tagline-left{
  display: flex;
  width: 40vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.tagline-right{
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*FOOTER ======================================*/

footer{
  padding:10px 0px  10px 0px;
  position: absolute;
  bottom:-250px;
  left:0px;
  margin: auto;
  margin-top:50px;
  width:100%;
  background-color: var(--primary1);

}

.footer-1{
  width:80%;
  height:100px;
  margin:auto;
}
.footer-title{
  margin:auto;
  width:90%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-sns{
  display:flex;
  flex-direction: row;

}


.footer-content{
  width:90%;
  display: flex;
  flex-direction: row;
  margin:auto;
  height:80%;
}
.footer-about{
  width:50%;
  height: 100%;

}
.footer-signup{
  width:50%;
  height: 100%;
}
.footer-signup h3{
  width: 90%;
  margin:auto;
}
footer form{
  display:flex;
  flex-direction: column;
  width: 80%;
  margin:auto;
}
.footer-text{
  font-size: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: black;
  text-decoration: none;
  
}

.footer-text a{
  font-size: 10px;
  text-decoration: none;
  color: black;
}






/*MEDIA QUERY */
@media (max-width:450px){
  
  .wepo-logo{
    width: 70px;
    margin-left: 10px;
  }
  .nav{
    height: 20px
  }
  .nav-sns i{
    width: 10vw;
    font-size: 5vw;
  }
  .tagline-left{
    width:400px;
  }
  .tagline h1{
    font-size: 40px;
  }
  .hero-container{
    padding-top:80px ;
  }

  footer form{
    width: 80vw;
    margin:auto;
  }
}